body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

header {
  background-color: rgb(13, 10, 196);
  height: 6rem;
  color: #fff;
  margin-bottom: 1rem;
}

.logo {
  height: 6rem;
}

.header-container,
.curso-conteudo,
main {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .header-container,
  .curso-conteudo,
  main {
    width: 95%;
  }
}

.curso-conteudo h1,
h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.curso-conteudo h1 {
  font-size: 2.5rem;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
}

td,
th {
  padding: 0.7em;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #eee;
}

label {
  color: #555;
  display: block;
  margin-bottom: 0.2em;
}
